
.css-transform{

	/*start ------------*/
	background: black; 
	transform: scale(1,1) rotate(0)skew(0,0) translate(0,0); 
	-webkit-transform: scale(1,1) rotate(0)skew(0,0) translate(0,0); 
	-moz-transform: scale(1,1) rotate(0)skew(0,0) translate(0,0); 
	transform-origin: 50% 50%; 
}

