
*{
	padding:0;
	margin:0;
}
body{
	font-family: "Ubuntu", sans-serif;
	font-size: 200%;
	background:#f8f8f8;
}
p{
	
	margin:0 0 15px;
	text-align: center;
}
.m{
	max-width: 600px;
	margin:50px auto;
}

.m2{
	margin:10px auto;
	padding:20px;
	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid;
}