.my-slider-img {
    height: 300px;
}
li { 
    list-style: none; 
}
h2 { 
  padding-top: 60px;
  text-align: center; 
}
img { 
    max-width: 100%;
}
.customize-tools {
 position: relative;
 }
.thumbnails { 
  margin: 20px 0;
  text-align: center;
}
.thumbnails li {
  display: inline-block;
  cursor: pointer;
  border: 5px solid #fff;
}
.thumbnails [aria-selected="true"] {
  background: none;
  border-color: #000;
}
.thumbnails li { 
    width: 50px; 
}
.thumbnails img {
 vertical-align: bottom; 
  height: 50px; 
}
.controls { 
text-align: center; 
}
.controls li {
  display: block;
  position: absolute;
  top: 50%;
  height: 60px;
  line-height: 60px;
  margin-top: -30px;
  padding: 0 15px;
  cursor: pointer;
  transition: background 0.3s;
}
.controls li img {
 display: inline-block;
  vertical-align: middle;
   }
/*.controls .prev { left: 0; }
.controls .next { right: 0; }*/
.controls li:hover {
 background: #f2f2f2;
  }
.playbutton-wrapper {
 text-align: center; 
}
.playbutton-wrapper button {
 height: 34px; 
 padding: 0 10px; 
 font-size: 14px; 
 background: #fff; 
 border-radius: 3px;
  border: 1px solid  #ccc; 
  cursor: pointer; 
}